<section id='main-section'>
  <form action="/listings/request" method="post">
    <label for="guest_name">
      <p>Guest name:
    <input type="text" name="guest_name"></p>
    </label>
    <label for="guest_email">
      <p>Guest email:
    <input type="text" name="guest_email"></p>
    </label>
    <input id='button' type="submit" value="Request to book">
  </form>
</section>
