<form action="/listings/request" method="post">
  <label for="guest_name">
    Guest name:
  <input type="text" name="guest_name">
  </label>
  <label for="guest_email">
    Guest email:
  <input type="text" name="guest_email">
  </label>
  <input type="submit" value="Request to book">
</form>
