* {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}

body {
  margin: 0;
}

h1 {
  color: #484848;
  display: inline;
  float: right;
  padding: 30px 30px;
}

h2 {
  color: #F27674;
  padding-top: 150px;
  padding-bottom: 0px;
  display: inline-block;
}

header {
  display: block;
  width: 100%;
  position: fixed;
  background-color: #FFF;
}

p {
  font-size: 12;
  font-weight: 300;
  margin: 0px, 1px;
}

ul {
  list-style-type: none;
  padding-top: 0px;
  padding-left: 0;
}

a {
  color: #F27674;
  display: inline-block;
  padding-left: 20px;
}

#main-section {
  display: block;
  background-color: #F4F4F4;
  padding: 10px 50px 20px 30px;
}

#name {
  color: #F27674;
  padding-top: 20px;
  display: block;
  text-transform: uppercase;
  font-weight: 800;
}

#logo {
  position: static;
  padding: 30px 50px;
}

#button {
  border-radius: 28px;
  border-width: 0;
  color: #ffffff;
  background: #F27674;
  padding: 10px 20px 10px 20px;
  margin-bottom: 20px;
}
