<link rel="stylesheet" href="/css/piggy.css">
<h3>Please sign in</h3>

<form action="/sessions" method="post">
  <label for="email">
    Email: <input name='email' type='email'>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <input id='button' type="submit" value="Log in">
</form>
