<h2>Sign up</h2>

<form action="/users" method="post">
  <label for="first_name">
    <p>First name:
    <input type="text" name="first_name"></p>
  </label>
  <label for="last_name">
    <p>Last name:
    <input type="text" name="last_name"></p>
  </label>
  <label for="email">
    <p>E-mail:
    <input type="email" name="email"></p>
  </label>
  <label for="password">
    <p>Password:
    <input type="password" name="password"></p><br>
  </label>
  <input id='button' type="submit" value="Sign up">
</form>
