<!DOCTYPE html>
<html>
  <head>
    <title>MakersBnB</title>
    <link rel="stylesheet" href="/css/piggy.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <header>
    <a href='/listings'><img id='logo' src="/images/logo.png"></a>
    <h1><% if current_user %>
    Hello, <%= current_user.first_name %>
    <form action="/sessions" method="post">
      <input type="hidden" name="_method" value="delete">
      <input id='button-signout' type="submit" value="Sign out">
    </form></h1>
    <%else%>
    <h4><a href='/users/login' id='user-button'>Sign in</a> or <a href='/users/new' id='user-button'>Sign up</a></h4>
    <% end %>
    </header>
    <section id='main-section'>
      <% if flash[:notice] %>
      <%= flash[:notice] %>
      <% end %>
      <% if flash[:errors] && !flash[:errors].empty? %>
          <% flash[:errors].each do |error| %>
              <h3><%= error %></h3><br>
          <% end %>
      <% end %>
      <%= yield %>
    </section>
  </body>
</html>
