<!DOCTYPE html>
<html>
  <head>
    <title>MakersBnB</title>
    <link rel="stylesheet" href="/css/piggy.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <header>
    <a href='/listings'><img id='logo' src="/images/logo.png"></a>
    <h1>Welcome to MakersBnB</h1>
    </header>
    <%= yield %>
  </body>
</html>
