<h1> Listings </h1>

<ul id='listings'>
  <% @listings.reverse.each do |listing| %>
  <li><b>Name: <%= listing.name %></b></li>
  Description: <%= listing.description %></br>
  Price per night: <%= listing.price %></br></br>
  <% end %>
</ul>
