<section id='main-section'>

<h2> New Listing </h2>

<form action='/listings' method='POST'>
  <label for='name'>
    <p>Listing Name:
    <input type='text' name='name' /></p>
  </label>
  <label for='description'>
    <p>Description:
    <input type='text' name='description' /></p>
  </label>
  <label for='price'>
    <p>Price in £:
    <input type='text' name='price' /></p>
  </label>
  <input id='button' type='submit' value='Create listing'>
</form>
</section>
