<h2> New Listing </h2>

<form action='/listings' method='POST'>
<table>
  <tr>
    <td>Listing Name:</td>
    <td><input type='text' name='name' /></td>
  </tr>
  <tr>
    <td>Description:</td>
    <td><input type='text' name='description' /></td>
  </tr>
  <tr>
    <td>Price in £:<br></td>
    <td><input type='text' name='price' /></td>
  </tr>
  <tr>
    <td><br><input id='button' type='submit' value='Create listing'></td>
  </tr>
</table>
</form>
