<h1> New Listing </h1>

<form action='/listings' method='POST'>
  <label for='name'>
    Listing Name:
    <input type='text' name='name' />
  </label>
  <label for='description'>
    Description:
    <input type='text' name='description' />
  </label>
  <label for='price'>
    Price:
    <input type='text' name='price' />
  </label>
  <input type='submit' value='Create listing'>
</form>
