<h1> New Listing </h1>

<form action='/listings' method='POST'>
  <label for='name'>
    Listing Name:
    <input type='text' name='name' />
  </label>
  <input type='submit' value='Create listing'>
</form>
